.header {
    top: 40px !important;
}

.navbar {
    display: flex;
    align-items: baseline;
    padding: 7px 0px 0px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif !important;
}

.logo {
    width: 90px;
    height: 40px;
    object-fit: cover;
}

.nav1 {
    position: absolute;
    z-index: 200;
    background-color: #322d2dd9;
    width: 100%;
}

.navul1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 4px;
    justify-content: center;
}

.navli1 {
    border-right: 1px solid grey;
    padding-right: 8px;
    font-size: 13px;
}

.navli1 a {
    color: grey;
}

.nav_active {
    font-weight: 900;
    border-bottom: 3px solid;
    color: #fff !important;
}

.navli1 a:hover {
    color: #fff;
}

.navli1:last-child {
    border-right: unset;
}

.res_toggle {
    display: none;
    cursor: pointer;
}

.toggleshow {
    display: flex !important;
}

.pt_3 {
    padding-top: 3rem;
}

@media only screen and (max-width: 1310px) {
    .res_toggle {
        display: block;
    }
    .navbar {
        padding: 7px 10px;
    }
    .navul1 {
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        background: #322d2dd9;
        width: 100%;
        top: 46px;
        left: 0;
        display: none;
    }
    .navli1 {
        border-right: unset;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        height: 50px;
        align-items: center;
    }
}